<div class="d-flex" style="min-height: 100vh;">
  <!-- Sidebar -->
  <div class="bg-dark text-white p-3" style="width: 250px;">
    <h4 class="mb-4">CanchaPRO</h4>

    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <button class="btn btn-link text-white text-start w-100"
                (click)="mostrarCrearCancha()">
          <i class="bi bi-plus-circle me-2"></i> Crear cancha
        </button>
      </li>
      <li class="nav-item mb-2">
        <button class="btn btn-link text-white text-start w-100"
                (click)="mostrarAdministrar()">
          <i class="bi bi-gear me-2"></i> Administrar
        </button>
      </li>
    </ul>
  </div>

  <div class="flex-grow-1 p-4 bg-light">
    <ng-container *ngIf="mostrarFormularioCrear">
      <!-- Formulario Crear Cancha -->
      <h3>Crear nueva cancha</h3>
      <form (ngSubmit)="guardarCancha()" #canchaForm="ngForm">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de la cancha</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tamal Soccer..." [(ngModel)]="cancha.nombre" required>
        </div>
        <div class="mb-3">
          <label for="ubicacion" class="form-label">Ubicación</label>
          <input type="text" class="form-control" id="ubicacion" name="direccion" placeholder="Avenida Collin 1972..." [(ngModel)]="cancha.direccion" required>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio por hora</label>
          <input type="number" class="form-control" id="precio" name="precio" placeholder="1000..." [(ngModel)]="cancha.precio" required>
        </div>
        <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingresar descripción..." [(ngModel)]="cancha.descripcion" required>
        </div>
        <button type="submit" class="btn btn-success">Guardar Cancha</button>
      </form>
    </ng-container>

    <ng-container *ngIf="mostrarAdministracion">
      <h3>Panel de administración</h3>
      <p>Desde aquí podrás editar o eliminar canchas existentes.</p>
    </ng-container>
  </div>
</div>
