<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/LogoCanchaPRO.png" alt="CanchaPRO" height="40">
        <span class="fw-bold">CanchaPRO</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/canchas']">Canchas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Jugadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/equipos']">Equipos</a>
          </li>
          <li *ngIf="usuarioRol === 'dueno'" class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">Administrar</a>
          </li>

          <li *ngIf="isAuthenticated" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
            <i class="bi bi-person-circle" style="font-size: 1.25rem;"></i>
            <span class="d-none d-lg-inline">Perfil</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" [routerLink]="['/perfil']">Mi Cuenta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item text-danger" (click)="onLogout()">Cerrar Sesión</button></li>
            </ul>
          </li>

          <li class="nav-item ms-2" *ngIf="!isAuthenticated">
            <button class="btn btn-primary" (click)="onLogin()">
              Iniciar Sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>