<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/LogoCanchaPRO.png" alt="CanchaPRO" height="40">
        <span class="fw-bold">CanchaPRO</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Canchas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Jugadores</a>
          </li>
          <li *ngIf="usuarioRol === 'dueno'" class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">Administrar</a>
          </li>
          <li class="nav-item ms-2">
            <button *ngIf="!isAuthenticated" class="btn btn-primary" (click)="onLogin()">
              Iniciar Sesión
            </button>
            <button *ngIf="isAuthenticated" class="btn btn-outline-danger" (click)="onLogout()">
              Cerrar Sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>