<div class="container-fluid min-vh-100 d-flex flex-column flex-md-row align-items-center justify-content-center custom-bg-gradient text-white p-5">

    <div class="col-12 col-md-6 mb-4 mb-md-0">
        <h1 class="display-4 fw-bold">
            Encuentra la cancha perfecta para tu partido
          </h1>
          <p class="lead">
            Reserva canchas de fútbol en tu zona, organiza partidos y conecta con otros jugadores.
          </p>
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="bg-light rounded-4 d-flex align-items-center justify-content-center overflow-hidden shadow-lg" style="max-width: 100%;">
            <img src="assets/futbol.jpg" alt="cancha" class="img-fluid rounded-4" style="width: 100%; height: auto; object-fit: cover;">
          </div>
    </div>

</div>
  